/*
#fbf8e0
#bab8b8
#363333
#483e3e
#fc6418
#f3f1f1
#f1ecec
#fca818
*/

$color-grey-10: #363333;
$color-grey-30: #483e3e;
$color-grey-50: #bab8b8;
$color-grey-80: #f1ecec;
$color-grey-90: #f3f1f1;
$color-yellow: #fca818;
$color-yellow-90: #fbf8e0;
$color-orange: #fc6418;
$color-white: #ffffff;
$color-black: #000000;

$segoe-ui: 'Segoe-UI',sans-serif;
$segoe-ui-bold: 'Segoe-UI-Bold',sans-serif;
$poppins-light: 'Poppins-Light',sans-serif;
$poppins-medium: 'Poppins-Medium',sans-serif;
$poppins-regular: 'Poppins-Regular',sans-serif;
$material-design-1: 'materialdesignicons-webfont',sans-serif;
$material-design-2: 'materialdesignicons-webfont',sans-serif;
$material-design-3: 'materialdesignicons-webfont',sans-serif;