.btn {
    &__search {
        padding: .85rem;
        border: none;
        border-radius: .5rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        & .mdi {
            font-size: 3rem;
            color: $color-white;
        }
    }
    &__subscribe {
        padding: 1.6rem;
        border: none;
        border-radius: 5rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        font-size: 2rem;
        color: $color-white;
        &:focus,
        &:hover {
            color: $color-white;
        }
    }
    &__yellow-outline {
        border-radius: 0rem;
        font-size: 1.2rem;
        font-weight: bold;
        transition: .3s ease;
        &:link,
        &:visited {
            border: .1rem solid $color-yellow;
            color: $color-yellow;
            background-color: transparent;
        }
        &:focus,
        &:hover {
            border: none;
            color: $color-white;
            background-color: $color-yellow;
        }
    }
    &__yellow-curved {
        padding: 1.5rem 3rem;
        border-radius: 4rem;
        background-color: $color-yellow;
    }
    &__yellow-curved-2 {
        padding: 1.5rem;
        border: none;
        border-radius: 1rem;
        background-color: $color-yellow;
    }
    &__yellow-squared {
        padding: 1.5rem;
        border: none;
        border-radius: 0rem;
        background-color: $color-yellow;
    }
    &__black-squared {
        padding: 1.5rem;
        border: none;
        border-radius: 0rem;
        background-color: $color-black;
        color: $color-white !important;
    }
    &__orange-squared {
        padding: 1.5rem;
        border: none;
        border-radius: 0rem;
        background-color: $color-orange;
        color: $color-white;
    }
    &__facebook {
        padding: 1.5rem 3rem;
        border-radius: 4rem;
        background-color: rgb(0, 102, 255);
        color: $color-white;
    }
    &__gmail {
        padding: 1.5rem 3rem;
        border-radius: 4rem;
        border: .13rem solid crimson;
        background-color: $color-white;
        color: $color-black;
    }
}