// all fonts

// segoe ui
@font-face {
    font-family: 'Segoe-UI';
    src: url('../../../fonts/segoe-ui/Segoe\ UI.woff');
}

@font-face {
    font-family: 'Segoe-UI-Bold';
    src: url('../../../fonts/segoe-ui/Segoe\ UI\ Bold.woff');
}

// poppins
@font-face {
    font-family: 'Poppins-Light';
    src: url('../../../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../../fonts/poppins/Poppins-Regular.ttf');
}

// material design icons
@font-face {
    font-family: 'materialdesignicons-webfont';
    src: url('../fonts/materialdesignicons-webfont.ttf');
}

@font-face {
    font-family: 'materialdesignicons-webfont';
    src: url('../fonts/materialdesignicons-webfont.woff');
}

@font-face {
    font-family: 'materialdesignicons-webfont';
    src: url('../fonts/materialdesignicons-webfont.woff2');
}